@import "variables";
@import "mixins";
// @mixin nav-bar-style {
//   padding: $reset;
//   margin: $reset;
//   background-color: $nav-bar-bg-color;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   width: $nav-bar-width;
//   height: $nav-bar-height;
//   list-style-type: none;
//   border-radius: 12px;
// }

// @mixin center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

* {
  padding: $reset;
  margin: $reset;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  @include center;
  background: $bg-color;
}

.nav-bar {
  @include nav-bar-style;
}

.social-link {
  margin: 1.2em;
  font-size: 27px;
  width: 50px;
  height: 50px;
  @include center;
  position: relative;
  z-index: 10;
}

// i { color: #000; }

.nav-bar {
  .social-link {
    a {
      padding: 0.6em 0.7em;
      color: rgb(44, 44, 44);
      backdrop-filter: blur(15px);
      border-radius: 50px;
      border: 2px solid #fff;
      transition: color 0.4s;
    }
  }
}

.nav-bar {
  .social-link {
    a:hover {
      color: #fff;
    }
  }
}

.nav-bar {
  .social-link::before,
  .social-link::after {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    background: $sl-bg-color-before;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: clip-path 0.4s;
  }
}
.nav-bar {
  .social-link::after {
    top: 12px;
    left: 12px;
    background: $sl-bg-color-after;
  }
}
.nav-bar {
  .social-link::before {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
.nav-bar {
  .social-link:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 0 50px 0;
  }
}

.nav-bar {
  .social-link::after {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }
}
.nav-bar {
  .social-link:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 50px 0 0 0;
  }
}
